[2017-07-05 22:10] dkwiebe opened #1 "Add external API"
Add external API which authenticates either via a code or else via username and password.  This is needed for account management and integration with billing and provisioning systems.

[2017-07-05 22:11] dkwiebe opened #2 "Add external list update API"
Our API needs a way to push updated lists into it from other tools.  This will be used to automate list management.

[2017-07-26 14:31] montesound opened #3 "Activations, Group, and Enabled not saving when creating new user"

[2017-07-26 14:32] montesound opened #4 "Allow deleting unused deactivation requests"

[2017-07-26 14:34] montesound opened #5 "Add functionality to push app updates to individual groups"

[2017-08-11 20:24] dkwiebe opened #6 "Add Passport Token Authentication"
We are going to be moving the app authentication to use long lived tokens rather than confirming we're logged in on each sync.  This will be done implementing Laravel Passport for the routes used by the app.

[2017-08-12 18:15] dkwiebe commented on #6
This is taking me longer than planned.

[2017-08-12 19:46] dkwiebe commented on #6
@TechnikEmpire Are you good with the token issued to the desktop app being revoked upon a successful deactivation?

[2017-08-12 21:10] dkwiebe commented on #6
@TechnikEmpire this is taken care of in https://github.com/cloudveiltech/CitadelManager/commit/ab1bc1ddeb3f3898c004507d0500610f9e26c641

[2017-08-12 21:11] TechnikEmpire commented on #6
@dkwiebe Yeah. I'm assuming it'll just return `401 Unauthorized` if the token is rejected? Also I've been thinking the server side changes over quite a bit so if you're not too deep into this, I can look at it.

[2017-08-12 21:14] dkwiebe commented on #6
@TechnikEmpire Good timing, I just committed and pushed Passport token authentication.  There's probably improvements needed but it should work.

As long as the Accept header is set to "application/json" it will return a 401 code.

[2017-08-12 21:15] TechnikEmpire commented on #6
@dkwiebe Okay great, thanks. I've been studying the passport system and have some non-critical questions but I'll dig into this first and get "hands on" then come back. Thanks again.

[2017-08-12 21:26] dkwiebe commented on #3
Resolved by https://github.com/cloudveiltech/CitadelManager/commit/f3d904757d3b74089d3dcc7490978b376c64bf06

[2017-08-12 21:26] #3 closed

[2017-08-12 21:36] dkwiebe commented on #6
@TechnikEmpire This is live on our production system in case you want to start testing against it.

[2017-08-12 21:38] dkwiebe commented on #4
@montesound I think this in place already or are you looking for something other than this?

![image](https://user-images.githubusercontent.com/1034679/29244393-472a5174-7f74-11e7-8f1f-9349d027477d.png)

[2017-08-13 05:12] montesound commented on #4
Perfect. I must have missed that. Yes that is what I was referring to.

[2017-08-13 05:12] #4 closed

[2017-08-14 14:06] TechnikEmpire opened #7 "New libs lock us in at requiring php >= 7.1"
`doctrine/dbal v2.6.1 requires php ^7.1`

Non-issue if you're okay with this. WAMP ships with php 7.0.x.

[2017-08-14 14:07] TechnikEmpire opened #8 "Composer lock file is out of sync with composer.json"
When trying to restore from new git clone:

[code]

Probably related to #7  and might be a false/misleading error.

[2017-08-14 14:23] dkwiebe commented on #7
@TechnikEmpire I added that dependency.  I was thinking that would be fine as it's getting much more common.

[2017-08-14 14:27] dkwiebe commented on #8
@TechnikEmpire I missed committing composer.lock and will get it pushed.

[2017-08-14 14:27] TechnikEmpire commented on #7
@dkwiebe Okay cool no worries I'll close this out. I'll just configure a network server on nix here for dev.

[2017-08-14 14:27] #7 closed

[2017-08-14 14:28] dkwiebe commented on #7
@TechnikEmpire  That library is needed for migrations to work with database tables.

[2017-08-14 14:31] TechnikEmpire commented on #7
oh boy okay I thought it was a dep of the logger. Woopsies. Must just be oddities from composer lock/json synchronization.

[2017-08-14 14:32] TechnikEmpire commented on #6
I'm going to set up a LAN server here and make it so I can auth with license count enforcement without going through the existing auth route. That can remain for the admins to log in, I'm not concerned about security with this new system for users given a) token is a manually set header, not a cookie and b) user route isolation, so I think this is fine to have a separate auth route for users that

[2017-08-14 14:34] dkwiebe commented on #8
@TechnikEmpire This has been added.  Does that take care of it if you do a composer update?

[2017-08-14 14:35] dkwiebe commented on #7
I added a SQL logger too.  By default I believe it's turned off but you can turn it on in your .env file.  I find that very useful for troubleshooting to see exactly what is going on.

[2017-08-14 14:37] dkwiebe commented on #6
@TechnikEmpire Ok, then I'll leave that with you.  I took a look at starting it last night but there wasn't time.   I'll keep an eye on any other issues created.

[2017-08-14 14:41] TechnikEmpire commented on #8
@dkwiebe Will comment back in a few, need to move to nix dev server. Thanks, probably is solved but will confirm shortly.

[2017-08-15 04:23] TechnikEmpire commented on #8
Resolved

[2017-08-15 04:23] #8 closed

[2017-08-15 04:25] TechnikEmpire opened #9 "Need to modify the installer to run oauth migrations/setup?"
The built in installer doesn't appear to take care of running laravel passport migrations. I had to manually run:

`php artisan migrate`

`php artisan passport:install`

The first to set up oauth tables, and the second to generate oauth keys. Should be handled by the installer? Or just update wiki installation instructions?

[2017-08-15 04:26] TechnikEmpire opened #10 "Add user routes to the `except` list in VerifyCsrfToken middleware"
Have to add the user specific routes to the CSRF exception list.

[2017-08-15 04:29] dkwiebe commented on #9
I'd suggest just updating the wiki as I think this is going to be necessary
for future updates.

Darren Wiebe

T. 877-702-2900
C. 306-830-1349
E. darren@aleph-com.net
w. www.aleph-com.net

Time-honored Values, Modern Technology

On Mon, Aug 14, 2017 at 10:25 PM, Jesse Nicholson <notifications@github.com>
wrote:

[2017-08-15 04:30] dkwiebe commented on #10
I thought that was taken care of by not applying the 'web' settings to the
routes.

Darren Wiebe

T. 877-702-2900
C. 306-830-1349
E. darren@aleph-com.net
w. www.aleph-com.net

Time-honored Values, Modern Technology

On Mon, Aug 14, 2017 at 10:26 PM, Jesse Nicholson <notifications@github.com>
wrote:

[2017-08-15 04:44] TechnikEmpire commented on #10
@dkwiebe I thought so too, but I was given the exception. According to some random person on the internet, the protection is applied by default to every single route in 5.4 or something. You have to explicitly disable it apparently and what I saw (exception) seems to support this statement.

[2017-08-15 04:46] TechnikEmpire commented on #6
@dkwiebe I modified the gettoken to be a POST route. Did you need it as GET? By modifying this to POST, disabling CSRF on user routes, copy and pasting the tryActivateAppUser code from AuthenticatesLicensedUsers, this new api is function well.

[2017-08-15 04:46] dkwiebe commented on #10
@TechnikEmpire Aww, that's too bad.

[2017-08-15 04:47] dkwiebe commented on #6
@TechnikEmpire Perfect.  No, I definitely did not need it to be a GET.  Excellent, I hope it wasn't too much more work than doing it yourself would have been.

[2017-08-15 04:52] TechnikEmpire commented on #6
@dkwiebe It wasn't too bad, it took longer to get everything set up than these changes did. I was AFK for some time today (shouldn't have said shortly in my comment from earlier in the day!). Anyway I'm going to resume changes in the client, I tested these api changes with a console application.

[2017-08-15 05:23] TechnikEmpire opened #11 "UserController@getUserData null check on sha1_sum isn't sufficient"
Checking `!is_null` is not sufficient, we can get 'null' returned from the database as a string and return this to clients. This is no good, as it should return 204 no content when there is no sum to deliver. Must to icase compare to `'null'` to make sure.

[2017-08-16 14:51] dkwiebe commented on #10
I can take care of this tonight if you wish.

[2017-08-16 15:04] TechnikEmpire commented on #10
Hey I've got this fixed already I'll merge my changes tonight.

On Aug 16, 2017 10:51 AM, "Darren Wiebe" <notifications@github.com> wrote:

[2017-08-16 15:04] TechnikEmpire commented on #10
I'm testing and fixing stuff locally just got a bit carried away. Will try
to stick to the small commits :)

On Aug 16, 2017 11:04 AM, "Jesse Nicholson" <ascensionsystems@gmail.com>
wrote:

[2017-08-17 20:15] TechnikEmpire opened #12 "Overwrite flag in upload causes havok on filter lists"
When using the overwrite flag, we get in to all kinds of trouble because multiple files per category can exist in an uploaded zip for a specified category. Since we do our deletes based on:

`folder_name => category_name` | `filter_list_name => list_type` | `parent_folder_name => namespace`

When we have:

`/default/some_category/urls`
`/default/some_category/domains`

Both of these files will bui

[2017-08-17 20:29] TechnikEmpire commented on #12
Fixed in bc7f3a5

[2017-08-17 20:29] #12 closed

[2017-08-17 20:29] TechnikEmpire commented on #11
Fixed in bc7f3a5

[2017-08-17 20:29] #11 closed

[2017-08-17 20:29] TechnikEmpire commented on #10
Fixed in bc7f3a5

[2017-08-17 20:29] #10 closed

[2017-08-17 20:30] TechnikEmpire commented on #6
I'd call this fixed in bc7f3a5

[2017-08-17 20:30] #6 closed

[2017-08-17 21:33] TechnikEmpire opened #13 "When disabling or deleting a user, do we need to manually revoke access tokens?"
Now that we're using long-lived tokens for our user API, the question of whether we need to revoke all tokens for a user when we delete an account comes up.

While it's unknown whether or not we need to do this when a user is deleted, we almost surely have to do this when a user's account is manually disabled.

[2017-08-17 22:16] dkwiebe commented on #13
@TechnikEmpire I think we should just revoke all their tokens when it's disabled.  They can sign in again if we have to kill their account.

[2017-08-20 06:15] TechnikEmpire opened #14 "Failure to send mail for deactivation requests kills the entire call"
Recommend isolating the mail subsystem calls when deactivation requests are modified by the administrator and requested by the user.  If mailing fails (like in a local sandbox) then the action partially fails. Admin will get an error when editing the record, and the user will get an error when trying to consume a granted deactivation request, but the granted request will be treated as consumed by

[2017-08-20 06:17] dkwiebe commented on #14
I can deal with that on Tuesday.

On Aug 20, 2017 12:15 AM, "Jesse Nicholson" <notifications@github.com>
wrote:

[2017-08-25 18:38] dkwiebe opened #15 "Document and test API for externally managing users"
This app needs to be integrated with our billing system.  We need to document and test the api to work with users from the external system.

[2017-08-26 03:00] dkwiebe commented on #15
/api/manage uses basic auth and requires an admin role to access.  You should also specify the following headers.

Content-Type: application/json
X-Requested-With: XMLHttpRequest

GET /api/manage/users
Retrieves an array of users with all associated metadata.

GET /api/manage/user
Returns your own user.

POST /api/manage/user
Used to create a user.  Requires the following fields in the post.  It w

[2017-08-26 03:00] #15 closed

[2017-08-26 03:30] #13 closed

[2017-08-26 03:30] dkwiebe commented on #1
This is 1/2 ways a duplicate and was resolved elsewhere.

[2017-08-26 03:30] #1 closed

[2017-08-26 03:41] #14 closed

[2017-09-05 21:39] dkwiebe opened #16 "Lists disappearing after uploads"
The filter lists are missing from Home Default East for the second time in several days. Any idea on what is going on with that?

[2017-09-11 01:19] dkwiebe commented on #16
@montesound I'm a little suspicious this might have been caused by php timeouts.  I adjusted the maximum time that a script can run.  Can you let me know if you run into this again?

[2017-09-11 01:35] dkwiebe commented on #2
@montesound @df8Ojw @TechnikEmpire

This has been implemented as follows:

HTTP Post to /api/v2/admin/filterlists/upload  Authorization by Bearer token and requires admin user.

Parameters:
overwrite: 0
namespace: default
file: Send zip file.

This can be a very long running request.  For example, last time I ran it took 3 minutes.

[2017-09-11 01:37] #2 closed

[2017-09-11 13:50] montesound commented on #16
Uploading lists now includes all categories. This seems to be an improvement.

[2017-09-11 15:10] dkwiebe opened #17 "Auto wipe old deactivation requests"
Deactivation request should be wiped from the system after X days.  This can be handled by Laravel cron.

[2017-09-11 15:51] dkwiebe opened #18 "Global Application Whitelist and Blacklist"
_From @montesound on September 8, 2017 13:38_

Add a global application whitelist and blacklist that applies to all groups. This will make it simpler to bypass traffic from known safe apps to all groups.

_Copied from original issue: cloudveiltech/Citadel-Windows#55_

[2017-09-11 15:51] dkwiebe commented on #18
@montesound This data is stored in json in groups.app_cfg in the database.  We can certainly alter this but it's going to involve some refactoring in the database.

[2017-09-11 15:51] dkwiebe commented on #18
_From @TechnikEmpire on September 11, 2017 1:59_

Might be easier to just implement a copy or merge functionality on this. Something where you just select another group and click "copy settings" and it'll merge in (not overwrite) whatever comes from the selected group.

[2017-09-11 15:51] dkwiebe commented on #18
_From @TechnikEmpire on September 11, 2017 1:59_

Having a global system will require probably more work.

[2017-09-11 15:51] dkwiebe commented on #18
_From @montesound on September 11, 2017 14:11_

Could we "merge all groups"? That would be fine for me. We could end up with 50 plus groups over time and even more once we build in our business level admin.

[2017-09-11 16:14] dkwiebe opened #19 "User activations date should be touched whenever app syncs"
I think we built this in but we need to confirm that it's working.

It would make sufficient to just record the last time a system communicated. That's probably mostly going to be used for billing verification.

[2017-09-11 16:48] dkwiebe commented on #16
Okay, cool. We'll leave this open for a bit and then close it if it's working.  I want to make sure this is working before we integrate automatic list uploads.

[2017-09-12 04:48] dkwiebe opened #20 "How do we track device activations?"
We currently are updating "activations_used" in the user table when we create a new activation.  However, that's not the number we're using for counting how many activations we have going.

/**
     * Gets a count of all activations for this user.
     * @return type
     */
    public function activationsCountRelation() {
        return $this->hasOne('App\AppUserActivation')->selectRaw('user_id,

[2017-09-12 04:49] dkwiebe opened #21 "Add support to web interface to show activations"
Add support to the web interface to show activations per user.

[2017-09-12 15:28] montesound opened #22 "Add the ability to clone or copy groups on the server."

[2017-09-20 01:14] dkwiebe commented on #16
This has seemed to be working the last while.

[2017-09-20 01:14] #16 closed

[2017-09-20 01:33] dkwiebe commented on #20
@montesound Do we want the number of days configurable per group or anything?  Or will we just set it in the .ENV file?

[2017-09-20 01:33] dkwiebe commented on #17
@montesound Do we need this set by group or anything or just a system wide number of days?

[2017-09-20 01:36] dkwiebe opened #23 "Admin Site - List of users should be sorted somehow"
When the ui returns a list of users they should be sorted somehow.

[2017-09-20 02:01] montesound commented on #17
I would probably delete after 7 days. We could adjust later if needed.

[2017-09-20 03:36] #20 closed

[2017-09-20 03:36] #17 closed

[2017-09-20 03:53] dkwiebe commented on #23
@TechnikEmpire I've altered the user model to support returning data like this.  I think the datatable in the admin ui is still ordering by ID.  Can you change that when you're working on the admin ui?

[2017-09-20 11:32] TechnikEmpire commented on #23
You can do this simply using the data tables in the GUI. In fact you can order by multiple columns too and make the state persist across sessions. Is that what you're after, sorting in the UI?

[2017-09-20 16:31] montesound opened #24 "Deactivation Request Emails"
Can we cc these to our support address for the time being?

For some reason I never get an email when I request a deactivation. Is anyone else?

[2017-09-20 16:34] dkwiebe commented on #23
@TechnikEmpire Datatables seems to be sorting them already as it's not displaying in the order that the webservice returns them.  I can look into this more and will assign it back to myself.

[2017-09-20 21:06] dkwiebe commented on #24
Just a couple more notes based on our Trello page on this.

1. Those emails need to go to accountability partners when they go out.  This requires a tie-in with our AP system.

2. Emails need to get sent out both on deactivation requests and deactivation approvals.

[2017-09-20 22:26] dkwiebe commented on #19
Not working

[2017-09-21 15:02] TechnikEmpire commented on #23
This can be done in JS/TS. See here:

https://datatables.net/examples/basic_init/table_sorting.html

[2017-09-21 15:02] TechnikEmpire commented on #23
If you'd like me to sort it a particular way let me know and I'll just do it in JS.

[2017-09-21 15:19] dkwiebe commented on #23
I should be able to figure out myself.  That would be a good exercise.

On Sep 21, 2017 9:04 AM, "Jesse Nicholson" <notifications@github.com> wrote:

[2017-09-21 17:52] montesound commented on #23
I can see a search field being useful down the road when we have thousands of users and possibly hundreds of groups.

[2017-09-21 17:54] dkwiebe commented on #23
@montesound We have that already in the upper right hand of the page.

[2017-09-21 17:55] montesound commented on #23
Duh, I overlooked that. Sorry.

[2017-09-22 19:16] montesound opened #25 "Lists disappeared from the default group"
@dkwiebe Can you pull the logs on this?

[2017-09-24 18:28] TechnikEmpire commented on #5
Implemented in ef5966b

[2017-09-24 18:30] TechnikEmpire commented on #5
Well, to a degree. There's three, hardcoded update channels. You could make a model on the server side and use blade to `foreach` over them and dynamically generate the channel options. That would let you create as many channels as you want rather easily.

[2017-09-26 22:51] TechnikEmpire opened #26 "Help text in rule selection view is super small"
I made some changes to the master CSS file that made the text super small. Example text is:

`Filtering rules. These match specific request strings.` etc etc

[2017-09-26 23:14] dkwiebe opened #27 "Enhance debug log collection"
The debug tool we wrote adds support to collect debugging logs on the server but nothing is done with them when they come in.  Support should be notified that a log has been received and should receive a link to the log.

[2017-10-04 04:23] montesound commented on #5
I can't change the Update Channel in the group. It always reverts back to Stable.
Also, it's trying to update even with the channel set to Stable.

[2017-10-04 04:49] dkwiebe commented on #24
@montesound I'm getting those emails myself.  Are you still not getting them?

[2017-10-04 05:17] dkwiebe commented on #24
@montesound Could you try another one for me sometime?

[2017-10-05 02:56] dkwiebe commented on #23
@montesound I think we can scratch this unless you feel otherwise.  The table save state with the browser so it will always remember how you want it sorted.

[2017-10-05 02:59] #23 closed

[2017-10-05 04:02] dkwiebe commented on #24
This has been implemented and tested.

[2017-10-05 04:02] #24 closed

[2017-10-05 04:27] dkwiebe commented on #5
Resolved in https://github.com/cloudveiltech/CitadelManager/commit/f04671f4eaab5807ae59bd7a58af06a3285d4525

[2017-10-05 04:27] #5 closed

[2017-10-05 04:28] dkwiebe commented on #19
Resolved in https://github.com/cloudveiltech/CitadelManager/commit/72f7af685863e9d28c5c7dbc6f0c8ce48af14d7c

[2017-10-05 04:28] #19 closed

[2017-10-11 01:52] montesound opened #28 "Missing license"
Not sure where this should be filed but one of my devices (T460s) isn't showing up in the list of licensed devices.

[2017-10-11 02:00] df8Ojw commented on #28
Darren, using Amos' email address the Citadel/api only lists 3 devices for him and so I logging in to https://manage.cloudveil.org/citadel/admin which also only shows him with 3 licenses-used. But he has 4 devices activated.

[2017-10-11 03:06] dkwiebe commented on #28
@montesound and @df8Ojw, AMOS-T460S is activated under user id 1 which is technikempire.

[2017-10-11 03:08] montesound commented on #28
@dkwiebe That is odd. If you take a look under the deactivation requests, it's under my username.

[2017-10-11 03:13] dkwiebe commented on #28
@montesound I see that.  That is certainly not expected.  Do you think you might have logged in on here as multiple users?  I'm wondering if something in the local computer got confused or if there's a logic problem in our handing of unblock requests and how we authenticate the device.

[2017-10-11 03:14] montesound commented on #28
I don't think I ever logged in as technikempire but it's possible I'm forgetting something.

[2017-10-12 15:23] dkwiebe opened #29 "Xref Tokens with Activations"
We should record which token is used with which activation.  If we do that makes it easier to audit them and also it lets us deactivate an installation and the associated token from within the web console when we get that in place.

[2017-10-20 05:19] dkwiebe commented on #21
The database stores activations in app_user_activations that are linked to users.  When we double click on a user in the web gui I want the page that comes up to show the list of activations for the user.

[2017-10-27 18:45] bluesven869 commented on #22
![step-1](https://user-images.githubusercontent.com/23646985/32120064-9c1d2072-bb2d-11e7-8fec-c761719a5014.png)
![step-2](https://user-images.githubusercontent.com/23646985/32120085-b26e3f5a-bb2d-11e7-9291-cbc86b01d08d.png)
![step-3](https://user-images.githubusercontent.com/23646985/32120095-ba58f688-bb2d-11e7-9378-6c4ee4c1c0ad.png)

[2017-10-27 18:47] bluesven869 commented on #21
![user activations](https://user-images.githubusercontent.com/23646985/32120206-154627be-bb2e-11e7-877d-2ad564209067.png)

[2017-10-27 22:17] TechnikEmpire commented on #21
Wouldn't it complete another outstanding feature (have to look) to show last-use timestamp and have a delete button in here?

[2017-10-28 00:14] bluesven869 commented on #21
Okay, I will add `delete functionality`

[2017-10-28 00:22] dkwiebe commented on #21
I'm going to add a few details on this one as the delete functionality is
tied in with another issue.

On Oct 27, 2017 6:14 PM, "Full-Stack Developer" <notifications@github.com>
wrote:

[2017-10-28 01:20] dkwiebe commented on #29
@bluesven869 Does this request make sense to you?

This needs to be done before the comment here(https://github.com/cloudveiltech/CitadelManager/issues/21#issuecomment-340110717) can be completed.

[2017-10-28 01:22] TechnikEmpire commented on #21
My bad @bluesven869 I should have tagged @dkwiebe. He's the boss, I wasn't saying to add it was just trying to raise the suggestion to him.

[2017-10-28 01:25] dkwiebe opened #32 "Add ability to delete installations and/or their token"
Each activation in the database in the database will have a token associated with it once #29 has been completed.  Once that's in place the grid showing activations needs 2 buttons.

1 - Delete.  This just removes the activation.
2 - Block.  This removes the activation and disables the token so the user will need to sign in again.

@montesound Do you remember why this was on our list?  I have it o

[2017-10-28 01:27] dkwiebe commented on #21
@bluesven869 Please add the last seen date to the table of installations.

@TechnikEmpire Thanks for mentioning the deletes and thanks for commenting.  👍   I've added #32 to take care of deletes as it depends on #29 to actually sign out the user.

[2017-10-28 02:00] dkwiebe opened #33 "Add support to manage relaxed policies per installation"
@TechnikEmpire I'm tagging you on this so you get a notification.  Your thoughts are welcomed.

Citadel includes support to have specific categories of blocks bypassable.  For example, maybe we allow a user to access Youtube for 15 minutes 3 times a day.  That is set in the group configuration

Bypasses Allowed Per Day: 3
Bypass Period (Minutes): 15

![image](https://user-images.githubusercontent.

[2017-10-28 02:05] dkwiebe commented on #28
@montesound have you tried purging and reinstalling?

[2017-10-28 02:09] dkwiebe commented on #26
This is what he's referencing.  Can you improve that?

![image](https://user-images.githubusercontent.com/1034679/32130267-bc0276a6-bb52-11e7-9e42-8dde682d8d21.png)

[2017-10-28 02:20] TechnikEmpire commented on #26
Iirc this is all in the main app.css or whatever

[2017-10-28 02:22] dkwiebe opened #34 "Add support to report back to server on browsing usage."
We are going to add support to have the client report back to the server on usage [here.](https://github.com/cloudveiltech/Citadel-Windows/issues/70)

There are a few items which need to be taken care of on the manager side to support this.

- Control reporting levels by group and by activation.  We'll have a setting called reporting_level with the following options:
0 - No reporting back to serve

[2017-10-28 22:12] dkwiebe opened #37 "Add customer_id to users table"
In many cases the Citadel users will be managed from a billing system.  For those situations we need an identifier to cross reference with a shopping cart or billing system.
1) This should be an integer, nullable, and unique.
2) We need to be able to populate it from the existing user management API.
3) We need to be able to see it from the user management system but do not need to be able to edit

[2017-10-28 22:13] dkwiebe commented on #37
@bluesven869 This is a high priority request which would be nice to get done soon.

[2017-10-28 22:17] dkwiebe commented on #37
We have an api in citadel manager to search for users.  We can currently search by email address.  We need to be able to search by customer_id as well.

[2017-10-29 02:54] montesound opened #38 "Add support to whitelist and blacklist sites at the user and install level."
We need the option of disabling this feature when functionality is not desired. Maybe disable at the Group and User level?

Would these sites get added to the regular config file? I'm thinking ahead to a standalone version of the filter as it would also need this same functionality but would need to be editable from the app GUI rather than CitadelManager. I'm supposing that the standalone version

[2017-10-29 03:26] montesound opened #39 "Add support to give a user admin access to a specific group or groups."
This would allow an IT person to manage policy on a group of installs.

[2017-10-29 19:45] dkwiebe opened #40 "Laravel returning 401 when unable to communicate with database."
We're using Laravel and Passport to authenticate the api.  We took the database offline and it was returning 401 messages when users attempted to access the API.  It should be returning preferably a 500 or else maybe a 403 in this case.    This needs investigation as to whether we should be opening a ticket with Laravel on this or just overriding it locally.  The Citadel ticket is here:  https://g

[2017-10-30 17:51] bluesven869 commented on #29
Hi, @dkwiebe, please check my idea of this work-flow.
1. when the administrator create new users, the activation email has been sent to {user_email"}
2. the user can click the activation link in his mail-in-box. in this moment, (is calling back-end api), the data of {"user_id", "identifier","ip_address", token} will be generated and be save their tables.

Is that right?
Thanks

[2017-10-30 18:49] dkwiebe commented on #29
@bluesven869 The app_user_activations table is populated whenever the Windows app is installed on a new computer.  That creates a new activation for that user.

I believe that's controlled here:

Route::middleware(['auth.basic.once','role:admin|user'])->post('/v2/user/gettoken', 'UserController@getUserToken');

[2017-10-30 19:31] bluesven869 commented on #29
@dkwiebe, thanks for your kindly answer.

[2017-10-30 19:46] bluesven869 commented on #37
![screenshot from 2017-10-30 16 38 14](https://user-images.githubusercontent.com/23646985/32192056-d22a1cc2-bd91-11e7-9dac-d9ede45d262d.png)

[2017-10-31 16:28] bluesven869 commented on #32
![screenshot from 2017-10-31 13 15 32](https://user-images.githubusercontent.com/23646985/32235870-6695769c-be3f-11e7-8134-2528cee49ec5.png)

[2017-10-31 17:57] bluesven869 commented on #26
![screenshot from 2017-10-31 14 55 52](https://user-images.githubusercontent.com/23646985/32240287-bc07a2ba-be4b-11e7-9431-e35f0c82e065.png)

[2017-11-01 15:06] bluesven869 commented on #33
- One question for this issue.
How can the admin change bypass_quantity, bypass_period, bypass_used fields in app_user_activations table?

I mean, which UI is used to change those values?

[2017-11-01 15:29] dkwiebe commented on #33
@bluesven869 The admin can't change bypass_used as we'll need to build an api to change that.

Can you build a UI to allow changing bypass_quantity and bypass_period?

[2017-11-01 15:35] bluesven869 commented on #33
Sure, I can create a UI for this.

[2017-11-03 01:23] bluesven869 commented on #33
![screenshot from 2017-11-02 22 21 57](https://user-images.githubusercontent.com/23646985/32357546-678bc25c-c01c-11e7-9411-bf7dd129c3d3.png)

![screenshot from 2017-11-02 22 21 53](https://user-images.githubusercontent.com/23646985/32357540-61af7edc-c01c-11e7-980d-8ae029acb665.png)

![screenshot from 2017-11-02 22 21 46](https://user-images.githubusercontent.com/23646985/32357531-58863e2c-c01c-11e

[2017-11-03 15:44] bluesven869 commented on #40
- ***if db server is down.***
![screenshot from 2017-11-03 12 39 52](https://user-images.githubusercontent.com/23646985/32382650-937c4dd2-c094-11e7-9b33-bfd03cab0df9.png)

- *** if db server is live & user is not authenticated***
![screenshot from 2017-11-03 12 41 52](https://user-images.githubusercontent.com/23646985/32382687-aaac6500-c094-11e7-9e6f-6e2051aea6a6.png)

- *** if db is live & user i

[2017-11-06 04:29] bluesven869 commented on #18
Hi, Darren.
DB schema is changed a little bit.
Do you run the command "php artisan migrate:refresh --seed"?

and then , Please check it.

[2017-11-11 21:46] #40 closed

[2017-11-11 23:24] dkwiebe commented on #37
@df8Ojw This has been added on the testing system.  We'll get it rolled into production soon.

GET https://----.--------------.----/citadel/api/manage/users?customer_id=10

[2017-11-11 23:24] #37 closed

[2017-11-11 23:26] dkwiebe commented on #22
@bluesven869 When you were testing this was it saving the filtering rules?  I can copy groups but the filter rules aren't coming across.

[2017-11-11 23:26] #26 closed

[2017-11-11 23:51] dkwiebe commented on #29
@bluesven869 the changes you made will go revoke all tokens belonging to that user.

[2017-11-12 12:33] bluesven869 commented on #22
@dkwiebe , I didnot test to copy filtering rules. This is my fault.

[2017-11-12 16:25] dkwiebe commented on #22
Can you work on that when you're done the project you're currently working on?

[2017-11-12 17:29] bluesven869 commented on #22
Yes,

Which is the better?
1. will work after done of native project
2. will work now.

It will take 3~6 hours.

[2017-11-12 22:14] dkwiebe commented on #22
@bluesven869 This can wait until the native project is done.

[2017-11-22 17:30] bluesven869 commented on #22
![screenshot from 2017-11-22 14 29 48](https://user-images.githubusercontent.com/23646985/33141361-b0cda154-cf91-11e7-995b-af796788955a.png)

[2017-11-24 21:17] dkwiebe commented on #22
@bluesven869 This looks good.  Thanks.

[2017-11-26 05:31] dkwiebe commented on #25
Just a couple of notes.  This is only happening on group 1.  It appears to be happening sometimes when a group is changed.

IP - - [25/Nov/2017:20:27:08 +0000] "PATCH /citadel/api/admin/groups/1 HTTP/1.1" 204 0 "https://manage.cloudveil.org/citadel/admin" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36"
IP -  - [25/Nov/2017:20:27:

[2017-11-26 05:32] dkwiebe commented on #22
@montesound In my testing this is looking good now.

[2017-11-26 05:32] #22 closed

[2017-11-26 05:35] dkwiebe commented on #21
@bluesven869 Can you double check this?  It was working before but is no longer showing any activations.

![image](https://user-images.githubusercontent.com/1034679/33237422-e133ade2-d230-11e7-9d53-e4ea14a161f8.png)

[2017-11-26 05:56] dkwiebe commented on #21
@bluesven869 Please disregard that question.  I've taken care of it.

[2017-11-26 06:03] dkwiebe commented on #28
@montesound Is this still an issue for you?

[2017-11-26 07:01] dkwiebe commented on #32
I need to do some refactoring on this one as it would currently delete all tokens belonging to that user.

[2017-11-26 07:06] #29 closed

[2017-12-01 22:41] dkwiebe opened #55 "Activations should allow license count + 1"
To make it simpler to support users migrating between computers we need to change the activation engine to allow activating their current license count + 1.  Then the old computers would fall off after a while.

[2017-12-01 23:01] dkwiebe opened #56 "Store software version in database per activation"
As per ticket (https://github.com/cloudveiltech/Citadel-Windows/issues/116) when the software synchronizes it should store the version number in the database.  This would be exposed under "App User Activations".

[2017-12-01 23:04] dkwiebe opened #57 "Reword "Delete Activations" Button"
On the "App User Activations" button the "Delete Activations" button should be changed to say "Retire Activations"

[2017-12-04 16:53] dkwiebe commented on #56
This data will be sent as part of the sync that happens every few minutes where it checks for updated data.

[2017-12-04 20:25] bluesven869 commented on #57
Fixed.

[2017-12-05 17:18] #56 closed

[2017-12-05 17:37] dkwiebe commented on #56
@bluesven869 Did you update the API so this data would be stored?  I don't see it added to the database table.

[2017-12-05 17:49] bluesven869 commented on #56
@dkwiebe you can see "app_version" field in "app_user_activations" table.

[2017-12-05 17:53] bluesven869 commented on #57
@dkwiebe ,
is there anything in this issue?

I think it's already fixed, please let me know your opinion regarding this issue.
Thank you.

[2017-12-05 17:56] dkwiebe commented on #57
I think you got it fixed.

[2017-12-05 17:56] bluesven869 commented on #55
@dkwiebe ,
Please refer /usercontroller/checkUserData action for this issue.

[2017-12-06 03:31] #57 closed

[2017-12-06 03:42] #21 closed

[2017-12-07 04:27] dkwiebe commented on #55
This has been implemented and tested.

[2017-12-07 04:27] #55 closed

[2017-12-16 20:59] dkwiebe opened #62 "Auto sign in users"
If the app data gets purged on an update for some reason we need to add support to provide the install with a token and email address from the identifier and device_id.  This will allow the app to sign itself in without prompting the user.  For those who want to remove it and reinstall under a different user we'll need to block the activation from the management site.

[2017-12-16 21:01] #62 closed

[2017-12-16 21:14] #32 closed

[2017-12-17 00:28] #9 closed

[2017-12-21 18:33] dkwiebe opened #63 "Reimplement GUI to manage app whitelists and blacklists"
We're wanting a much more powerful application listing system. It will have a list of apps which will be tagged to app_groups. The app_groups will be flagged as whitelist or blacklist. Then the app_groups will be tagged to groups.

This is only an example.

telegram.exe is the app.

It belongs to the following app groups:
instant_messenger, ssl_bypass_required, darrens_whitelist

Here is the assoc

[2017-12-21 18:36] dkwiebe opened #64 "Expose app version to admin"
When viewing activations both under users and the activations page we should show the app_version.

[2017-12-22 23:20] dkwiebe commented on #18
Closing as this is being reimplemented in #63

[2017-12-22 23:20] #18 closed

[2017-12-23 02:06] dkwiebe opened #65 "Build API interface to return number of bypasses available."
As per

https://github.com/cloudveiltech/Citadel-Windows/issues/58#issuecomment-353689103

[2017-12-23 21:52] montesound opened #68 "Delete button isn't working to delete a a User Activation from the User page."
The Delete button doesn't work. The Block button does work.

[2017-12-25 21:22] bluesven869 commented on #63
![screenshot from 2017-12-25 18 19 29](https://user-images.githubusercontent.com/23646985/34342978-74024e86-e9a0-11e7-905b-8ef1404a1996.png)
![screenshot from 2017-12-25 18 19 42](https://user-images.githubusercontent.com/23646985/34342979-75eb793e-e9a0-11e7-84e9-9c72cd29dab7.png)

[2017-12-25 21:22] bluesven869 commented on #63
file:///home/luisantonio/Pictures/Screenshot%20from%202017-12-25%2018:19:20.png

[2017-12-25 21:56] bluesven869 commented on #63
![screenshot from 2017-12-25 18 55 19](https://user-images.githubusercontent.com/23646985/34343178-38c482da-e9a5-11e7-9edd-bd6f5f8df891.png)

[2017-12-25 21:57] bluesven869 commented on #64
![screenshot from 2017-12-25 18 55 19](https://user-images.githubusercontent.com/23646985/34343183-69c3756c-e9a5-11e7-989d-fa7468e697dd.png)

[2017-12-26 21:12] kfreezen commented on #65
Testing on production server, and POST /me/bypass does not increment the amount of bypasses used. Is there another API for that, or is that a bug?

[2017-12-26 21:20] kfreezen commented on #33
Testing on production server, issuing commands to /me/bypass does not increment relaxed policy counter.

This might be a duplicate of another comment, but I can't find the other one ATM.

[2017-12-29 03:22] dkwiebe commented on #64
@bluesven869 Can you add that on this page as well:
![image](https://user-images.githubusercontent.com/1034679/34428713-dda3be1a-ec0c-11e7-85cd-841519323518.png)

[2017-12-29 03:29] dkwiebe commented on #63
@bluesven869 This looks good.  I'll assign the ticket to myself to finish implementing applying this to the group json.

[2017-12-29 03:35] dkwiebe commented on #65
@kfreezen Are you sending it just to /me/bypass or is there more to the url than that?  Try changing that to /citadel/api/v2/me/bypass.  The "/me/bypass" is relative to it's location in the config file.  I should have made that clear in the notes.

[2017-12-29 03:44] dkwiebe commented on #65
@kfreezen You can request info on the number of bypasses available without using one by  sending "check_only" as a parameter on the post request.  It will then return a JSON array showing "used" and "available" without incrementing.

On the testing server I've also fixed the code to increment the number of bypasses used.

[2017-12-29 03:45] dkwiebe commented on #65
For the purposes of this ticket "bypass" = "Relaxed Mode"

[2017-12-29 03:47] dkwiebe commented on #33
@kfreezen This is covered here:  https://github.com/cloudveiltech/CitadelManager/issues/65  Closing this ticket as it only covers the ui implementation.

[2017-12-29 03:47] #33 closed

[2017-12-29 05:13] dkwiebe commented on #63
@montesound This is live on the test server if you want to do any testing.  The way it's currently implemented means we'll need to setup the app groups but changing an item in the app group won't affect the user group until we go into the user_group settings and save them.

[2017-12-29 05:19] kfreezen commented on #65
Yes I am using the full URL and I'm getting a good response, except that
relax policy is not decrementing. So sounds like you fixed it

On Dec 28, 2017 7:45 PM, "Darren Wiebe" <notifications@github.com> wrote:

[2017-12-30 17:34] montesound commented on #63
@dkwiebe Yes, that is what I'm seeing. What we really need is for it to automatically update the user_group whenever we make a change to an app_group.

[2017-12-30 17:36] montesound commented on #63
Also notice that the Application Filtering is not cloning when we clone a user_group.

[2017-12-30 22:50] dkwiebe commented on #68
@montesound This is mostly patched.  Just have to figure out how to compile the typescript yet.

[2017-12-30 23:17] #68 closed

[2017-12-30 23:19] #28 closed

[2018-01-03 01:13] bluesven869 commented on #64
![screenshot from 2018-01-02 22 12 12](https://user-images.githubusercontent.com/23646985/34506269-0a06f00c-f00a-11e7-97bf-33d08983a8d8.png)

[2018-01-03 01:14] bluesven869 commented on #64
Done

[2018-01-03 01:25] bluesven869 commented on #64
![screenshot from 2018-01-02 22 23 50](https://user-images.githubusercontent.com/23646985/34506460-a663049e-f00b-11e7-8747-c5dbec9645c2.png)

[2018-01-03 17:19] bluesven869 commented on #63
Done!

[2018-01-04 04:47] #64 closed

[2018-01-04 05:05] bluesven869 commented on #63
Please comment here what is needed more.

[2018-01-08 17:28] dkwiebe commented on #25
As per @montesound this is still an ongoing issue.  It seems to usually happen when we upload a new list and set it to overwrite.

[2018-01-17 16:55] kfreezen opened #76 "Build API interface for accountability"
branch-1.7 of Citadel-Windows currently issues commands to POST /api/v2/me/accountability with the following structure.

[code]

[2018-02-17 23:37] dkwiebe commented on #63
This has been tested as in production.

[2018-02-17 23:37] #63 closed

[2018-02-18 00:05] dkwiebe opened #77 "Saving Application Groups fails when no apps are listed."

[2018-02-18 00:13] #77 closed

[2018-02-18 23:46] montesound opened #78 "Not able to add application"
![image](https://user-images.githubusercontent.com/7513273/36358409-afa1c58a-14d3-11e8-98f1-f503c6b6eb5c.png)

[2018-02-18 23:48] montesound opened #79 "Not able to delete application group"
![image](https://user-images.githubusercontent.com/7513273/36358424-d4d4d310-14d3-11e8-8783-bbeea2f538f8.png)

[2018-02-19 14:56] bluesven869 commented on #79
It's working on my side.
Please let me know what exactly does not run.

[2018-02-19 15:40] montesound commented on #79
I see that now. I'm not able to delete groups on the production system but I can on the test system. Is this somehow related to #77?

[2018-02-19 15:50] bluesven869 commented on #79
OK

I will check it on prod server.
can you let me know the credentials of prod server?

[2018-02-20 02:14] bluesven869 commented on #76
in this endpoint, can you please explain more details?

[2018-02-20 02:23] dkwiebe commented on #76
We're waiting on some Windows testing on this.

[2018-02-20 02:28] bluesven869 commented on #39
please describe the logic for this issue.
- admin can assign the permission to the group.
- admin can see all groups, and non-admin user can see specific groups.

is that right?

[2018-02-20 02:31] dkwiebe commented on #39
@bluesven869, I need to talk to @montesound about this.  We've been dealing with this ticket elsewhere.

[2018-02-20 02:32] dkwiebe commented on #34
@bluesven869 Can you build this configuration?

[2018-02-20 02:35] dkwiebe commented on #78
@montesound I think it is working now.  Can you check?

[2018-02-20 02:51] dkwiebe commented on #79
@montesound I've been testing this a little bit and it looks like this is because the app group is tied to a setting group already.

@bluesven869 This is what's causing it to fail.  It would work if we had a check built in.
SQLSTATE[23000]: Integrity constraint violation: 1451 Cannot delete or update a parent row: a foreign key constraint fails (`citadel`.`user_group_to_app_groups`, CONSTRAINT `us

[2018-02-20 02:51] bluesven869 commented on #34
sure @dkwiebe

[2018-02-20 02:57] bluesven869 commented on #79
@dkwiebe
Hoping to give me a access to prod server.
I think there are some issues in database

[2018-02-20 03:23] bluesven869 commented on #34
so, report_level is placed in which table?
@dkwiebe

[2018-02-20 19:13] montesound commented on #79
@dkwiebe You are correct. I am now able to delete application groups if I remove them from the settings group first. I'm thinking it would still be good to build a check in if it isn't too hard.

[2018-02-20 19:16] montesound commented on #78
@dkwiebe Yes, this is working now. Thanks.

[2018-02-20 19:16] #78 closed

[2018-02-21 14:55] bluesven869 commented on #79
@dkwiebe  I found the issue what's wrong.
so I fixed it and created PR.
Please check it and hope to merge.

[2018-02-21 16:40] dkwiebe commented on #79
@montesound when you have time can you check this?

[2018-02-21 17:21] montesound commented on #79
This appears to be fixed. Thanks!

[2018-02-21 18:01] #79 closed

[2018-02-22 16:19] dkwiebe commented on #34
@bluesven869 This should be stored in a json field.  We need to add an app_cfg json field to app_user_activations and users.  We'll use those to override group settings by user or by activation.

Does that make sense to you?

[2018-02-22 19:15] bluesven869 commented on #34
make sense

[2018-02-24 20:17] dkwiebe commented on #65
This is in place but we are missing the code to reset the count every day.

[2018-02-24 20:23] dkwiebe commented on #34
@bluesven869 Could you add this?  We'll need to add the settings to this page:

![image](https://user-images.githubusercontent.com/1034679/36634699-67b15a22-1976-11e8-91de-8f3e1401051c.png)

and this page:

![image](https://user-images.githubusercontent.com/1034679/36634708-901b1020-1976-11e8-8fd2-f3f2f2247766.png)

We'll also need to add this to the group configuration page

[2018-03-10 00:05] tysonkcv opened #82 "Apps whitelist not applying"
The application whitelist changes aren't applying to the client. TurboTax.exe for instance.

[2018-03-10 00:06] tysonkcv opened #83 "Relaxed policy not working correctly"
Relaxed policy count (visual) is resetting, but the log doesn't agree with what's shown there, and RP does not allow me on YouTube, even though it says it's enabled.

[2018-03-10 00:19] dkwiebe commented on #82
@tysonkcv Can you go into the user group configuration and save it?  I think that will reapply the apps in the groups.  As part of this ticket we'll add support to resave all affected groups whenever an app is added or removed.

[2018-03-14 03:23] bluesven869 commented on #34
Hello, I complete this feature, and created new PR for this.
Those are screenshots in my local side.
![111](https://user-images.githubusercontent.com/23646985/37381788-efd3cf2a-271d-11e8-88ea-77c2101746c8.png)
![112](https://user-images.githubusercontent.com/23646985/37381793-f3075c3e-271d-11e8-88d3-03858aa37fb3.png)
![113](https://user-images.githubusercontent.com/23646985/37381795-f33fce70-271d-

[2018-03-14 18:14] bluesven869 commented on #38
Hello @montesound
Can you post the mockup here to be understand more details?

[2018-03-15 17:59] tysonkcv opened #86 "Change_Request Reason column broken"
Always shows: Blocked based on category: LOOKUP_UNKNOWN

![screen shot 2018-03-15 at 11 58 29 am](https://user-images.githubusercontent.com/26845997/37481823-55d6af60-2848-11e8-9da4-b30d7478a5d0.png)

[2018-03-25 19:59] dkwiebe commented on #39
@df8Ojw This is the project we've been discussing and handling elsewhere.

it would be MOST helpful if this "Device-Requested-Deactivation* flag was simply returned as a part of each individual JSON "device" data from this existing api/URL:

How difficult would it be for you to add that in? Currently for each individual device we're getting this:

It would be great if it would also include somethi

[2018-04-02 17:19] dkwiebe commented on #25
@bluesven869 Could you spend some time digging into this and troubleshooting?  We're still running into this and I don't know what is causing it.

[2018-04-02 17:31] bluesven869 commented on #25
Sure. Let me check it

[2018-04-03 02:50] dkwiebe commented on #65
This was coded earlier and runs daily at config('app.bypass_used_delete_time')

[2018-04-03 02:50] #65 closed

[2018-04-03 02:52] dkwiebe opened #88 "Add grant/revoke interface for deactivation requests to api/manage"
We need a remotely accessible api to grant or revoke deactivation requests from 3rd party management systems.  The api/manage api uses basic auth.

[2018-04-03 02:53] #88 closed

[2018-04-03 21:47] bluesven869 commented on #25
HI, @dkwiebe
I have fully checked the code, and the logs.
but it seems oldest logs, so I recommed you please deploy current state to the server.

[2018-04-04 01:46] dkwiebe commented on #25
@bluesven869 I'll work on that and get back to you.

[2018-04-04 02:28] dkwiebe opened #89 "Offload pagination and sorting to server"
The administration API is currently pulling down a couple of MB of data on our system and this slowing down the gui.  We should move the pagination to the server rather than pulling everything down to the web browser immediately.

![image](https://user-images.githubusercontent.com/1034679/38285448-6ccaebe8-377d-11e8-8cb8-9ee99f4d3134.png)

[2018-04-04 02:50] dkwiebe opened #90 "Improve deactivation request process"
On this screen it would be nice if we could just click on the toggle switch to approve or deny rather than having to open the request.

![image](https://user-images.githubusercontent.com/1034679/38286056-89c3db80-3780-11e8-9a2a-eb95f3761a69.png)

[2018-04-04 02:57] dkwiebe opened #91 "Adjust Activations Screen"
Please remove the identifier column from this page as we don't need it.
![image](https://user-images.githubusercontent.com/1034679/38286234-8ddb8500-3781-11e8-8674-e1ecb358fb22.png)

[2018-04-04 03:08] dkwiebe opened #92 "Add Refresh Button"
Please add a refresh button to this screen.

![image](https://user-images.githubusercontent.com/1034679/38286539-22e0107a-3783-11e8-83b6-fc1e6f7d319d.png)

[2018-04-08 19:29] bluesven869 commented on #89
Hi, @dkwiebe
- At the first time, the data of users (limited by count per page) are only loaded.
![89_1](https://user-images.githubusercontent.com/23646985/38471611-d0d9d822-3b49-11e8-8ba4-dff0263e3c46.png)
![89_2](https://user-images.githubusercontent.com/23646985/38471614-d654d3ba-3b49-11e8-93cd-f06b095508d3.png)
- when user click the tab panel, the data that is selected are only loaded.
![89_3]

[2018-04-08 19:30] bluesven869 commented on #90
Please check it on luis-89-92 branch.
It was fixed

[2018-04-08 19:32] bluesven869 commented on #91
Hi, @dkwiebe,
I removed identier column in this screen,

![90](https://user-images.githubusercontent.com/23646985/38471643-639400e8-3b4a-11e8-9b66-05db73d4cbb6.png)

[2018-04-08 19:33] bluesven869 commented on #92
![91](https://user-images.githubusercontent.com/23646985/38471655-86cad762-3b4a-11e8-8758-fc15d490f3bf.png)

[2018-04-17 15:57] df8Ojw opened #95 "Need API / end-point to lookup user_id via IP address"
I need to be able to do a USER_ID lookup from a supplied IP address. This is specifically needed for our DNS query history. The only identifying information available on the DNS is the client-IP address and I need to translate that over to a USER_ID for accountability.

The IP-address might be a CV4W user or it might be a WIFI/router user ~ all I have is an IP-address. . . I need the USER_ID regar

[2018-04-17 16:03] df8Ojw commented on #95
I think at a minimum we should have the USER_ID and also the DEVICE_ID returned for any potential accountability alerts.

[2018-04-19 19:56] df8Ojw opened #96 "Need API / end-point to return CV4W current version"
We need an API / end-point that will return a JSON response identifying the current CV4W **release** version number. The remote server needs to be able to query this so that it can compare it with what users actually have installed on their device(s).

[2018-04-19 19:58] df8Ojw commented on #96
Maybe something like this:
{
    "current_verson" :  "1.6.24.0"
}

[2018-04-19 20:26] df8Ojw commented on #96
Would it be possible to include the DATE for this version?
{
 "current_verson" : "1.6.24.0"
 "release_date" : "04/10/2018"
 }

[2018-04-19 20:37] dkwiebe commented on #96
@bluesven869 This should be under the basic authentication portion of the api.

[2018-04-19 20:38] dkwiebe commented on #95
Closing as it won't be implemented in this system.

[2018-04-19 20:38] #95 closed

[2018-04-19 23:27] bluesven869 commented on #25
ACTUALLY, the logic of filters list on group editor is incorrect, it's based on the filter tables.

You know filter tables may be not loaded in anytime, so I changed that with filter array variables, and it's loaded in first time & updated filters.

[2018-04-26 09:37] bluesven869 commented on #96
![version_1](https://user-images.githubusercontent.com/23646985/39298350-957dcbe0-494e-11e8-95e2-eba57dd334c1.png)
![version_2](https://user-images.githubusercontent.com/23646985/39298362-a077cf5a-494e-11e8-891a-dbc7e8452e0d.png)
![version_3](https://user-images.githubusercontent.com/23646985/39298365-a4a59cb0-494e-11e8-896c-bbd36f2b8bff.png)

[2018-04-26 14:34] df8Ojw commented on #96
When I try to query that URL from our manage.cloudveil.org server I get this response:
$ curl "http://filtermanager.app/update/Win8.1%2064bi"
curl: (6) Could not resolve host: filtermanager.app

[2018-04-26 14:37] bluesven869 commented on #96
http://filtermanager.app is a local path in my side.

[2018-04-26 14:43] df8Ojw commented on #96
That JSON response should do what we need to compare against when I get from the user:

_{
    "id": 8910,
    "user_id": 2,
    "identifier": "2211E50C511C6C2670D7B013CDA67A9C6C619839",
    "device_id": "AMOS-DESKTOP",
    "created_at": "2018-03-21 14:14:44",
    "updated_at": "2018-03-21 18:16:17",
    "ip_address": "209.203.162.81",
    "bypass_quantity": null,
    "bypass_period": null,
    "b

[2018-04-26 14:55] bluesven869 commented on #96
![screenshot_14](https://user-images.githubusercontent.com/23646985/39313540-ed5fe966-497a-11e8-89ed-9bb7db0ba172.png)

[2018-04-26 15:14] df8Ojw commented on #96
Yes, you did the right thing. Thanks!

[2018-04-27 21:33] df8Ojw opened #98 "Add editable fields to User's devices screen and database"
![check-in_alert_02](https://user-images.githubusercontent.com/19311569/39388515-0a09246a-4a70-11e8-8e93-93a30917f278.png)

We need 2 user-editable fields added to the device section of the "Edit User" webpage and respective database table.

Each device needs a "Check-in Days" type of text-edit field (integer values). This will be used when we scan the user devices to see how long they can go with

[2018-04-28 20:53] #25 closed

[2018-04-28 21:32] dkwiebe opened #99 "App Version doesn't control updates"
The current implementation of the "System Versions" function appears to be only for information.  That data needs to flow into app/Http/Controllers/UpdateController.php

[2018-04-28 21:43] dkwiebe commented on #98
@df8Ojw In https://github.com/cloudveiltech/FilterManager/issues/34 we have been adding support to report back to accountability partners.

Do we need to control reporting by activation?  We've been planning to control it per user but we can change that if it's needed.

[2018-04-28 21:44] dkwiebe commented on #34
@bluesven869 I'm still testing these changes.

We need to add another ReportLevel so the toggle switch needs to be changed to a "select".

ReportLevel:
0 - No reporting back to server.
1 - Report back to server on obvious errors when possible.  @df8Ojw This is related to https://github.com/cloudveiltech/FilterManager/issues/98  This would include server side alerts if a device is on an old version

[2018-04-28 21:46] dkwiebe opened #100 "UI Cleanup on Edit User page"
Please update the Delete and Block buttons to be formatted the same as the Save button.

![image](https://user-images.githubusercontent.com/1034679/39401120-4dcd4998-4afb-11e8-96db-4802c29ddc18.png)

[2018-04-28 21:47] dkwiebe commented on #92
This is working.

[2018-04-28 21:47] #92 closed

[2018-04-28 21:48] dkwiebe commented on #90
This is confirmed working.

[2018-04-28 21:48] #90 closed

[2018-04-28 21:48] dkwiebe commented on #91
This is confirmed fixed.

[2018-04-28 21:50] dkwiebe commented on #34
As part of this change the Report Level switch will need to be changed on this page:
![image](https://user-images.githubusercontent.com/1034679/39401153-d01c5182-4afb-11e8-9885-f5b81d79a87d.png)

[2018-04-28 21:53] dkwiebe opened #101 "Sort By Columns Not Function"
Clicking on the column headers to sort is not working on the following pages:

App User Activations
Users
Groups
Filter Lists
Deactivation Requests
Application Groups

[2018-04-28 21:54] dkwiebe commented on #89
This is working much better and provides a significantly better admin experience.

[2018-04-28 21:55] #91 closed

[2018-04-28 21:56] dkwiebe commented on #89
I'm reopening this issue as the search field is not searching for user email.

[2018-04-28 21:58] dkwiebe opened #102 "Adjust Deactivation Request Edit Page"
"Enabled:" should be changed to "Granted:"

![image](https://user-images.githubusercontent.com/1034679/39401197-f84acf34-4afc-11e8-8bee-9b45f1e58f25.png)

[2018-04-30 14:26] df8Ojw commented on #98
@dkwiebe
This request is addressing the specifics regarding the device-hasn't-checked-in and the filter-version-is-wrong audit scans. These settings possibly would (or could) be configured somewhere else in the system but they are DEVICE specific (rather than "per user") so it seemed applicable at this location.

However we can do this as an enhancement to the over all user-experience would be the

[2018-05-05 03:32] #101 closed

[2018-05-07 10:28] bluesven869 commented on #98
I have added 2 fields (check-in-days, alert-partner) in both database and UI.

![screenshot_15](https://user-images.githubusercontent.com/23646985/39697655-0b29e8fc-51c8-11e8-9f64-a65fea46f701.png)

I have one question.

Should I add those 2 fields in **App User Activations** Page?
![screenshot_16](https://user-images.githubusercontent.com/23646985/39697683-2beb28a8-51c8-11e8-8e0f-4407266d0e6d.png

[2018-05-07 16:13] #102 closed

[2018-05-15 03:28] #98 closed

[2018-05-15 03:35] dkwiebe commented on #89
@bluesven869 Please test the search functionality on the installs page.  I've updated to the latest version and that functionality is broken.

[2018-05-15 03:41] dkwiebe commented on #89
![image](https://user-images.githubusercontent.com/1034679/40035535-72245018-57bf-11e8-88f7-dbbfb518c59c.png)

![image](https://user-images.githubusercontent.com/1034679/40035556-85e01394-57bf-11e8-935c-2ee03f01eabb.png)

[2018-05-15 03:45] dkwiebe commented on #100
This is not working completely on our system.

![image](https://user-images.githubusercontent.com/1034679/40035535-72245018-57bf-11e8-88f7-dbbfb518c59c.png)

![image](https://user-images.githubusercontent.com/1034679/40035556-85e01394-57bf-11e8-935c-2ee03f01eabb.png)

[2018-05-15 03:47] dkwiebe commented on #100
@bluesven869 Please double check this one as well as I no longer see any activations showing up on this page.

[2018-05-17 08:28] bluesven869 commented on #100
@dkwiebe
Please check PR #108 **89 Fixed "user email " search issue in users page**.

[2018-05-17 08:29] bluesven869 commented on #96
I think this was fixed already.

[2018-05-17 08:29] bluesven869 commented on #89
Hope to check PR #108 for this issue.

[2018-05-22 15:12] kfreezen opened #109 "Configuration change request for CloudVeil 1.7.x"
I'm currently working on splitting out configuration and rule lists so that we don't have to maintain thousands of different zip files for users.

Let me know if this requires a new API version so I can update CV4W accordingly.

## The new endpoints requested

### /api/v2/me/config/get
This will get the configuration JSON file for the currently authenticated user.

### /api/v2/me/config/check
This

[2018-05-23 08:14] bluesven869 commented on #109
@kfreezen
Can you  provide the **response** for each end point?

[2018-06-01 05:32] dkwiebe opened #110 "Simplify and enhance UserController index function"
This function has a bunch of duplicate code and needs to be cleaned up.  We also need to be able to search by customer_id and user_id.

[2018-06-01 05:34] #110 closed

[2018-06-02 04:40] #96 closed

[2018-06-28 02:03] dkwiebe opened #112 "Update manager is incorrectly formatting dates"
The update manager is incorrectly formatting dates.

[2018-06-28 02:13] dkwiebe commented on #112
2018-06-27 20:06:35.4928 ERROR Error in line 14 position 27. An error was encountered when parsing a DateTime value in the XML.
2018-06-27 20:06:35.4937 ERROR    at System.ServiceModel.Syndication.Rss20FeedFormatter.DateFromString(String dateTimeString, XmlReader reader)
   at System.ServiceModel.Syndication.Rss20FeedFormatter.ReadItemFrom(XmlReader reader, SyndicationItem result, Uri feedBaseUri)

[2018-07-02 23:31] #99 closed

[2018-07-18 18:46] kfreezen commented on #76
@df8Ojw @dkwiebe what's the status on this accountability API? While testing the manager, I'm seeing some new stuff that looks like accountability features, so I'm just curious.

[2018-07-18 18:48] kfreezen opened #113 "Group dropdown broken on "Create User" dialog"
To reproduce, go to users tab, click "Create User", and then try to select a group in the Groups select box.

This breaks any manual user creation currently.

[2018-07-18 18:51] dkwiebe commented on #76
I'm still working on getting some details nailed down.

[2018-07-18 19:20] kfreezen opened #114 "Do not allow group deletion when users are in group"
I was able to delete a group with a user in it without getting an error message.

[2018-07-18 19:22] kfreezen opened #115 "PostTooLarge exception on uploading a lists file"
I was attempting to upload a 16MB ZIP file to the test server, and I got a PostTooLarge exception.

[2018-07-18 19:24] dkwiebe commented on #115
@kfreezen That's an Apache configuration issue on this test server.

[2018-07-18 19:24] dkwiebe commented on #112
@kfreezen Did you ever figure out what was causing this?

[2018-07-18 19:45] #115 closed

[2018-07-18 19:46] kfreezen opened #116 "Version Dialog: Change defaults"
App Name and File Name are both "Cloud Veil", should be "CloudVeil"

[2018-07-18 19:47] kfreezen opened #117 "Delete Alert: Incorrect text"
Text on alert for deletion of a version says "user" instead of "version"

[2018-07-18 19:50] kfreezen opened #118 "Version Dialog: Validation improvements"
If I leave any of the Alpha/Beta/Stable version boxes empty, there is no error text to tell me what blocked the save.

If I leave the 'Changes' box blank and try to save a new version, I get an ugly error that should be handled.

Could we default the 'Changes' box to 'N/A'?

[2018-07-18 19:52] kfreezen opened #119 "System Versions: Platform deletes"
Should we allow platform deletions when a version exists underneath that platform?

[2018-07-18 19:57] kfreezen opened #120 "More options in Platform for deployment options"
Right now, the XML generator assumes a specific URL path and filename format for the update installers.
Example:
[code]
This won't work for mac and linux platforms because they won't be using msi's.

If nothing else, we need to allow the user to specify a filename format.

[2018-07-18 20:03] kfreezen opened #121 "Do not allow check-in days to be negative"
I was able to save a negative "check-in days" in the Edit User Dialog.

[2018-07-18 20:04] kfreezen opened #122 "Need a way to clear sort on the grids"

[2018-07-18 20:10] kfreezen opened #123 "No indicator to tell me when I need to select a group to clone"
If I hit "Clone Group" without any group selected, nothing happens. It should popup a little alert in that case.

[2018-07-18 20:15] kfreezen opened #124 "Behavior of Apply to Group/Apply to User Group buttons seems confusing to me"
1) When I first load the Application Groups tab, the button says "Apply to Group" rather than "Apply to App Group" like it does if I click on the "Applications" radio button.

2) Apply to App Group and Apply to User Group should use grid selection in their select box

[2018-07-18 20:16] kfreezen opened #125 "apply_appgroup_to_usergroup 500 error"
When I tried to apply app group to user group using the "Apply to User Group" button, I got a 500 error.

[2018-07-18 20:17] kfreezen opened #126 "Persist tab selection"
It would be nice if the app would remember which tab I was on last when I load the page.

[2018-07-18 21:21] dkwiebe opened #127 "Integrate sentry service in webservice"
This will give us insight into any errors that may be going unnoticed.

[2018-07-19 20:13] kfreezen commented on #112
Figured it out now. The issue was that the platform names were mismatching between FilterManager and Filter-Windows.

Once I switched platform names to "winx64" and "winx86" instead of "win64" and "win32" the problem was fixed.

[2018-07-19 20:13] #112 closed

[2018-07-24 19:24] kfreezen opened #128 "New API call: /time"
This one is fairly simple. All I need is a new API call for the client.

[code]

The purpose of this API call is to allow us to verify that the client's time is actually correct. This will help prevent misuse of time restrictions.

[2018-07-25 19:34] kfreezen opened #129 "Change Request: Add configuration fields for time restrictions"
Time restrictions requires three new fields in the configuration file.

TBD: Set this on users+groups, or just users?

## `IsTimeRestrictionEnabled`
This is a boolean which the application uses to figure out whether it should pay attention to any of the rest of the time restriction settings.

## `UserTimezone`
This is an tz database ID (e.g. `America/New_York`). This one will require a backing ref

[2018-07-31 15:24] dkwiebe opened #130 "Errors when compiling Typescript"
'responsive' does not exist in type 'Settings'

and 'bSortable' does not exist in type 'ColumnSettings'

and File .../assets/js/admin/progresswait.ts' not found

[2018-08-03 20:20] dkwiebe commented on #130
This has been patched.  https://github.com/cloudveiltech/FilterManager/commit/bac1e8096711ad81a5910bb0faa0f9d409c5cf1d

[2018-08-03 20:20] #130 closed

[2018-08-03 20:23] dkwiebe commented on #86
@tysonkcv This belongs on the bitbucket repo.  We can try to look there.

[2018-08-03 20:23] #86 closed

[2018-08-06 14:43] bluesven869 commented on #120
@kfreezen

Can you post here exact url for linux or maxos version?

[2018-08-06 18:43] kfreezen commented on #120
I don't have that yet. I don't think this needs to be done right at this moment as I marked it as `future`

[2018-08-06 18:51] kfreezen commented on #120
Thinking about this a little bit more. What I'd really like is the ability to specify a file extension in the platform editor for the XML file generator to use. The update package extension might be `.sh` or `.installer` on linux and `.dmg` or `.pkg` or `.sh` on macOS.

[2018-08-07 14:42] bluesven869 commented on #125
Hello, @kfreezen

Can you provide 500 error content for this issue?
In my localside, it working well.

I guess, there is some differences between local environment & staging environment.

After checking the error, I am able to find what's wrong.

The best,

[2018-08-18 23:52] #113 closed

[2018-08-18 23:55] dkwiebe commented on #125
@kfreezen I believe this has been patched. It appears to be working for me.  Can you confirm and then close it?

[2018-08-18 23:58] dkwiebe commented on #121
This is not fully patched yet.  The buttons in the web interface won't scroll below 0 but you can type in whatever number you want and then save it.

![image](https://user-images.githubusercontent.com/1034679/44304122-3ba0d380-a310-11e8-99bd-27fc3071b338.png)

[2018-08-19 00:01] dkwiebe commented on #114
One way to solve this would be to correct the relationship between users and groups.  There should be a foreign key setup for this in the database.  That would help to enforce integrity.

[2018-08-19 00:03] dkwiebe commented on #119
I'm not sure.  The way it's set deleting a platform will wipe out the versions as well.

[2018-08-19 00:08] dkwiebe commented on #128
@kfreezen This exists on the test server under /api/user/time

![image](https://user-images.githubusercontent.com/1034679/44304180-ae5e7e80-a311-11e8-809a-85bea4f7b331.png)

[2018-08-19 00:08] #128 closed

[2018-08-19 00:09] #121 closed

[2018-08-22 01:54] #114 closed

[2018-08-22 01:59] #126 closed

[2018-08-22 02:54] #127 closed

[2018-08-22 02:55] #120 closed

[2018-08-22 02:55] #116 closed

[2018-08-22 02:55] #117 closed

[2018-08-22 02:55] #118 closed

[2018-08-22 14:34] bluesven869 commented on #123
Actually, user didnot select group in the datatable, then"clone group" button will be disabled.
After disabled, user can't click that button.

is there any good idea to be user-friendly, @kfreezen ?

[2018-08-23 14:29] kfreezen commented on #123
What you have there looks good to me.

[2018-08-23 14:29] #123 closed

[2018-08-23 14:30] kfreezen commented on #119
It makes me a little nervous to have the ability to delete platforms and all the versions underneath them accidentally with no chance of reversal.

[2018-08-23 15:20] kfreezen opened #140 "Javascript requesting a non-existent page in "Apply to User Group""
`admin/apply_appgroup_to_usergroup/selected_user_group1` is returning a 404 not found.

[2018-08-23 15:36] kfreezen opened #141 "Change "Action" to "Default" on grid"
"Action" is a bit confusing as to what it does.

[2018-08-23 15:39] kfreezen opened #142 "Make error messages look nicer for editor"
Release Date and Changes should both have either (1) client side checks and errors or (2) parsing of the server-side errors and human-readable display of said errors.

[2018-09-06 17:57] #140 closed

[2018-09-06 17:57] #141 closed

[2018-09-06 17:57] #142 closed

[2018-09-07 14:12] kfreezen commented on #125
Can confirm, this works on my local machine.

[2018-09-07 14:12] #125 closed

[2018-09-25 03:45] montesound opened #144 "Clone groups is not cloning lists to the new group"

[2018-10-24 20:25] thetmtech opened #145 "Error warning for failed list upload"
It would be nice if there was an error page or popup if a list import fails. Currently, it sits for a long time on "Uploading" then either flashes "Upload Successful" or "Upload Failed" and then returns to the main filter lists page.

If you're not watching it you miss the message.

[2018-11-14 21:32] kfreezen opened #146 "/me/config/get fails when relaxed policy passcode enabled."

[2018-11-20 18:46] tysonkcv commented on #144
Bump.

[2018-12-07 21:47] tysonkcv opened #147 "Default group won't open with macOS Safari"
Can only open groups below the "Default" group using Safari. They all work fine in Chrome.

[2018-12-10 23:06] tysonkcv opened #148 "Search App User Activations by email"
Currently you can only search App User Activations by name. We need support to search activations by email address.

[2019-01-09 22:57] montesound opened #149 "Change date created column to date modified on Filter Lists page"

[2019-01-09 23:00] montesound opened #150 "List uploads not saving correctly."
List uploads are not saving when more than a couple folders are in the zip file.

[2019-01-25 07:13] dkwiebe opened #151 "Build interface to accept list uploads"
We need an interface to allow us to programmatically upload lists category lists with token or basic authentication.

The system will need to accept the file, the collection name or maybe id, and the overwrite flag.

[2019-02-23 23:47] dkwiebe commented on #151
This should default to overwrite.

[2019-06-19 01:38] #146 closed

[2019-07-30 01:34] dkwiebe commented on #150
@montesound I think this is working now?

[2019-07-30 01:35] dkwiebe commented on #38
@montesound Can we close this?

[2019-07-30 01:35] dkwiebe commented on #39
@montesound Can we close this?

[2019-07-30 02:17] #39 closed

[2019-07-30 02:17] #38 closed

[2019-07-30 02:18] #150 closed

[2019-07-30 16:54] #83 closed

[2019-09-21 22:29] #151 closed

[2019-09-21 23:17] dkwiebe opened #154 "Add Slack Notifications"
We'd like notifications going out over slack when uploads are started and finished.

[2019-09-21 23:32] dkwiebe commented on #144
This was solved but never closed.

[2019-09-21 23:32] #144 closed

[2019-09-21 23:33] #154 closed

[2019-09-22 06:26] dkwiebe commented on #148
Still needs to be done

[2019-09-22 06:26] dkwiebe commented on #145
@tysonkcv Is this still relevant with the recent changes we made?

[2019-09-22 06:27] dkwiebe commented on #109
@montesound I think we can close this.  Any comments?

[2019-09-22 06:27] dkwiebe commented on #82
@tysonkcv Is this still applicable?

[2020-01-18 03:58] #148 closed

[2020-01-18 04:01] #109 closed